.Project {
    margin-top: 180px;
}

.Project_header>h3 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #020887;
}

.Project_header>h4 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #63768D;
    line-height: 26px;
}

.image_card {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

img{
    width: 350px;
    height: 391px;
}

.card-img{
    margin-left: 30px;
}

  
  .card-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .image_card:hover .card-img {
    opacity: 0.3;
  }
  
  .image_card:hover .middle {
    opacity: 1;
  }
  
  .text {
   
    font-size: 16px;
    padding: 16px 32px;
  }